

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.flex-container {
    display: flex;
    max-width: 1200px;
    justify-content: space-around; 
}


.flex-item {
    width: 200px;
    height: 200px;
}


.blue {
    background-color: blue;
    margin: auto;
    justify-content: space-between;
    margin-right: 7vw;
}

.black {
    background-color: black;
    justify-content: space-between;
    margin-right: 7vw;
}

.red {
    background-color: red;
    justify-content: space-between;
    margin-right: 7vw;
}

.green {
    background-color: green;
    justify-content: space-between;
    margin-right: 7vw;
}


.flex-container {
    flex-direction: row-reverse;
}
